Checks: >
    readability-*,
    modernize-*,
    bugprone-*,
    misc-*,
    google-runtime-int,
    -misc-no-recursion,
    -readability-magic-numbers,
    -clang-analyzer-security.insecureAPI.strcpy,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -bugprone-easily-swappable-parameters,
    -readability-identifier-length,
    -readability-uppercase-literal-suffix,
    -misc-include-cleaner,
    -bugprone-reserved-identifier


FormatStyle: 'file'
# WarningsAsErrors: 'readability-identifier-naming'
CheckOptions:
# allow for
# if (condition)
#    stmt;
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'

# use int names from stdbigos/types.h
  - key:             google-runtime-int.UnsignedTypePrefix
    value:           'u'
  - key:             google-runtime-int.SignedTypePrefix
    value:           'i'
  - key:             google-runtime-int.TypeSuffix
    value:           ''
# Naming/casing conventions
# Use snake_case for names (including file names).
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.TypedefCase
    value:           lower_case
  - key:             readability-identifier-naming.StructCase
    value:           lower_case
  - key:             readability-identifier-naming.UnionCase
    value:           lower_case
  - key:             readability-identifier-naming.FileCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumCase
    value:           lower_case
# Use _t at the end of typedef definitions.
  - key:             readability-identifier-naming.TypedefSuffix
    value:           _t
# Use ALL_CAPS for MACROS.
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
# Use ALL_CAPS for enum values and include the name of the enum at the beginning of the value name.
# I haven't found a way to enforce enum members containing a prefix of the
# enum name without a custom clang-tidy plugin
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
# Prefix global variables with g_.
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_
